
<mat-toolbar color="primary" class="mat-elevation-z5"><mat-toolbar-row>
  <span>Angular</span>
  <span class="example-spacer"></span>
  <button mat-icon-button><mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon></button>
  <button mat-icon-button><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon></button>
</mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list style="width:200px">
       <a mat-list-item ><mat-icon>dashboard</mat-icon> Dashboard </a>
       <a mat-list-item routerLink="one"><mat-icon>add</mat-icon> Addition </a>
       <a mat-list-item routerLink="date"><mat-icon>alarm</mat-icon> Date </a>
       <a mat-list-item routerLink="drop"><mat-icon>list</mat-icon> Dropdown </a>
       <a mat-list-item><mat-icon>dashboard</mat-icon> Hello </a>
    </mat-nav-list>
  </mat-sidenav>
    <mat-sidenav-content>
      <p style="height:98vh;color: blue">
        <router-outlet></router-outlet>
      </p>
      
    </mat-sidenav-content>
  
</mat-sidenav-container>